<!-- ANGULAR 16 -->

<!-- <h3 *ngIf="users.length == 0">No tenemos datos</h3>

<table *ngIf="users.length > 0">
  <thead>
    <tr>
      <th>ID</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users, index as i">
      <td>{{i + 1}}</td>
      <td>{{user}}</td>
    </tr>
  </tbody>
</table> -->

<!-- <button (click)="isVisible()">
  {{visible ? 'Mostrar' : 'Ocultar'}}
</button>

<div *ngIf="visible">
  
  <h1>Hola Mundooo! - Desde Angular</h1>
  <h2>{{ title }}</h2>

  <table *ngIf="users != undefined && users.length > 0; else vacio">
    <thead>
      <tr>
        <th>ID</th>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ user }}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #vacio>
    <h3>No tenemos datos</h3>
  </ng-template>
</div> -->

<!-- ANGULAR 17+ -->

<button (click)="isVisible()">
  {{ !visible ? "Mostrar" : "Ocultar" }}
</button>

@if(visible){
	<h1>Hola Mundooo! - Desde Angular</h1>
	<h2>{{ title }}</h2>
	@if (users != undefined && users.length > 0) {
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>name</th>
				</tr>
			</thead>
			<tbody>
				@for (user of users; track $index) {
				<tr>
					<td>{{ $index + 1 }}</td>
					<td>{{ user }}</td>
				</tr>
				}
			</tbody>
		</table>
	} @else {
	  <h3>No tenemos datos</h3>
	} 
} @else {
	<h3>Página no disponible</h3>
}
